---
http_interactions:
- request:
    method: post
    uri: https://www.strava.com/api/v3/push_subscriptions
    body:
      encoding: UTF-8
      string: callback_url=invalid_url&client_id=<STRAVA_CLIENT_ID>&client_secret=<STRAVA_CLIENT_SECRET>&verify_token=lace_strava_webhook
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 400 Bad Request
      X-Ratelimit-Usage:
      - '4,7'
      X-Ratelimit-Limit:
      - '200,2000'
      X-Readratelimit-Limit:
      - '100,1000'
      X-Readratelimit-Usage:
      - '4,7'
    body:
      encoding: UTF-8
      string: '{"message":"Bad Request","errors":[{"resource":"PushSubscription","field":"bad","code":"request"}]}'
  recorded_at: Tue, 30 Dec 2025 18:40:55 GMT
recorded_with: VCR 6.3.1
