---
http_interactions:
- request:
    method: post
    uri: https://www.strava.com/api/v3/push_subscriptions
    body:
      encoding: UTF-8
      string: client_id=12345&client_secret=secret&callback_url=https://example.com/webhooks/strava&verify_token=lace_strava_webhook
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"id":12345,"application_id":67890,"callback_url":"https://example.com/webhooks/strava","created_at":"2024-01-15T10:00:00Z","updated_at":"2024-01-15T10:00:00Z"}'
  recorded_at: Mon, 20 Oct 2025 15:00:00 GMT
recorded_with: VCR 6.1.0
