---
http_interactions:
- request:
    method: get
    uri: https://www.strava.com/api/v3/activities/12345678901
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"id":12345678901,"name":"Morning Run","distance":5000.0,"moving_time":1800,"elapsed_time":1850,"total_elevation_gain":50.0,"sport_type":"Run","start_date":"2024-01-15T06:30:00Z","start_date_local":"2024-01-15T06:30:00Z","timezone":"(GMT-05:00) America/New_York","achievement_count":0,"kudos_count":5,"comment_count":0,"athlete_count":1,"photo_count":0,"average_speed":2.78,"max_speed":4.5,"average_heartrate":145.5,"max_heartrate":165.0,"description":"Easy morning run","elev_high":120.0,"elev_low":70.0}'
  recorded_at: Mon, 20 Oct 2025 15:00:00 GMT
recorded_with: VCR 6.1.0
