---
http_interactions:
- request:
    method: get
    uri: https://www.strava.com/api/v3/push_subscriptions/12345?client_id&client_secret
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"id":12345,"application_id":67890,"callback_url":"https://example.com/webhooks/strava","created_at":"2024-01-15T10:00:00Z","updated_at":"2024-01-15T10:00:00Z"}'
  recorded_at: Mon, 20 Oct 2025 15:00:00 GMT
recorded_with: VCR 6.1.0
