---
http_interactions:
- request:
    method: delete
    uri: https://www.strava.com/api/v3/push_subscriptions/99999?client_id=12345&client_secret=secret
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"message":"Record Not Found","errors":[{"resource":"PushSubscription","field":"id","code":"invalid"}]}'
  recorded_at: Mon, 20 Oct 2025 15:00:00 GMT
recorded_with: VCR 6.1.0
