---
http_interactions:
- request:
    method: get
    uri: https://www.strava.com/api/v3/activities/6219898629
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"id":6219898629,"name":"Updated Run","distance":6085.5,"moving_time":2000,"elapsed_time":2102,"total_elevation_gain":50.0,"sport_type":"Run","start_date":"2021-11-06T13:40:37Z","start_date_local":"2021-11-06T13:40:37Z","timezone":"(GMT-05:00) America/New_York","achievement_count":0,"kudos_count":6,"comment_count":0,"athlete_count":1,"photo_count":0,"average_speed":3.04,"max_speed":4.5,"average_heartrate":132.9,"max_heartrate":161.0,"description":"Updated description","elev_high":120.0,"elev_low":70.0}'
  recorded_at: Mon, 20 Oct 2025 15:00:00 GMT
recorded_with: VCR 6.1.0
