---
http_interactions:
- request:
    method: delete
    uri: https://www.strava.com/api/v3/push_subscriptions/99999?client_id=<STRAVA_CLIENT_ID>&client_secret=<STRAVA_CLIENT_SECRET>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 404 Not Found
      X-Ratelimit-Usage:
      - '7,30'
      X-Ratelimit-Limit:
      - '200,2000'
      X-Readratelimit-Limit:
      - '100,1000'
      X-Readratelimit-Usage:
      - '7,30'
    body:
      encoding: ASCII-8BIT
      string: '{"message":"Resource Not Found","errors":[{"resource":"PushSubscription","field":"","code":"not
        found"}]}'
  recorded_at: Mon, 20 Oct 2025 21:49:04 GMT
recorded_with: VCR 6.3.1
