@tailwind base;
@tailwind components;
@tailwind utilities;

.logo-text {
  font-family: 'Borel', cursive;
  font-size: 2.5rem;
  position: absolute;
  top: 0;
  left: 1rem;  /* Add left spacing */
  padding: 1rem;
}