<div id="<%= dom_id plan %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Length:</strong>
    <%= plan.length %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Race date:</strong>
    <%= plan.race_date %>
  </p>

</div>
